__pycache__/
.vscode/
.ipynb_checkpoints/

*.pyc
.DS_Store
.env

Assignment-*/data/
Assignment-*/Classification/
Assignment-*/mnist-curated-fiftyone/
Assignment-*/hf_hub_api.py 
Assignment-*/fix_structure.py

