# Jupyter/VS Code
.vscode/
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Model checkpoints
# Assignment-2/checkpoints/
*.pt
*.pth

# Python cache, OS files, env files
__pycache__/
*.pyc
.DS_Store
.env

# Build / distribution
build/
dist/

# Python packaging artifacts
*.egg-info/
*.egg-info/**

# Wandb logs
**/wandb/**

# Data folders and some data modules to ignore
Assignment-*/data/
Assignment-*/Classification/
Assignment-*/mnist-curated-fiftyone/
Assignment-*/hf_hub_api.py 
Assignment-*/fix_structure.py
Assignment-*/notebooks/wandb/
